@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');



:root {
  --bs-font-sans-serif: 'Montserrat', sans-serif;
  --bs-body-font-family: 'Montserrat', sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: normal;
  --bs-body-line-height: 1.5;
  --bs-body-color: #333333;
  --bs-body-bg: #fff;
  --bs-primary: #ff3334;
  --bs-primary-rgb: 246, 213, 10;
  --bs-secondary: #333333;
  --bs-secondary-rgb: 0, 0, 0;
  --shadow-rgba: rgba(0, 0, 0, .15);
  --bs-white: #fff;
  --border-radius: 0.1875rem;
}

body {
  color: var(--bs-body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  border-radius: var(--border-radius);
  outline: none !important;
  box-shadow: none !important;
}

img {
  width: 100%;
  height: auto;
}

.btn-primary,
.btn {
  font-size: 1rem;
  font-family: var(--bs-font-sans-serif);
  padding: 0.9375rem 1.875rem;
  line-height: 1;
  background-color: var(--bs-primary);
  border: solid 0.0625rem var(--bs-secondary-rgb);
  color: var(--bs-white);
}

.btn-primary:hover,
.btn-primary:focus {
  border: solid 0.0625rem var(--bs-secondary-rgb);
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.btn-outline-primary {
  background-color: transparent;
  border: solid 0.0625rem var(--bs-primary) !important;
  color: var(--bs-secondary);
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
  border: solid 0.0625rem var(--bs-secondary-rgb) !important;
  background-color: var(--bs-secondary);
  color: #fff;
}

.right-info .btn-outline-primary:focus,
.right-info .btn-outline-primary:hover {
  border: solid 0.0625rem #333333 !important;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: var(--bs-font-sans-serif);
  letter-spacing: 0.0625rem;
  margin: 0;
}

.align-items-center {
  align-items: center !important;
}

.form-label {
  margin-bottom: 0.5rem;
  color: var(--bs-secondary);
  font-size: 0.875rem;
}

.form-label small {
  color: #666666;
  font-size: 0.75rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form-control,
.form-control:focus,
.form-select {
  outline: none !important;
  box-shadow: none !important;
  color: var(--bs-secondary);
  font-family: var(--bs-body-font-family);
  resize: none;
  box-shadow: none;
  font-size: 0.875rem;
}

.form-control:focus,
.form-select:focus {
  border: 0.0625rem solid var(--bs-primary) !important;
  box-shadow: none;
}

::placeholder {
  color: #7d7d7d !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #7d7d7d !important;
}

::-ms-input-placeholder {
  color: #7d7d7d !important;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--shadow-rgba);
}

.check-input .form-check-input {
  width: 1.2em;
  height: 1.2em;
  background-color: #333333;
  border: 0.0625rem solid #fff;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.check-input .form-check-input:checked {
  background-color: #333333;
  border-color: #333333;
  border: 0.0625rem solid var(--bs-primary);
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border: 0.0625rem solid #676767;
  box-shadow: none !important;
}

.form-check-label {
  padding-left: 0.3125rem;
  padding-top: 0.125rem;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  min-height: 100vh;
  position: relative;
  padding-top: 4.375rem;
}

.wrapper .logo img {
  width: auto;
  height: 3.125rem;
  margin: 0;
}

.topheader {
  padding: 0.625rem 0;
  font-weight: 500;
  border-bottom: solid 0.0625rem #333333;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.top-h-border {
  border-top: solid 0.0625rem #333333;
  margin-top: 0.625rem;
  padding: 1.875rem 0 0rem 0;
  position: relative;
}

.top-h-border img {
  width: auto;
  height: 8.75rem;
  margin: auto;
  display: block;
  margin-bottom: 0.625rem;
}

.topheader .btn-connect {
  background-color: #333333;
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
  margin-left: auto;
  display: block;
  color: #fff;
  float: left;
  margin-left: 0.625rem;
  border: solid 0.0625rem #333 !important;
}

.btn-connect-line {
  background-color: #fff !important;
  border: solid 0.0625rem #333 !important;
  color: #333 !important;
}

.heading {
  background-color: var(--bs-secondary);
  color: #fff;
  padding: 1.25rem;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.heading h1 {
  font-size: 1.5rem;
  margin: 0;
}

.heading h1 span {
  color: var(--bs-primary);
  float: right;
}

.none-sc {
  overflow: hidden;
}

.none-sc .navbar-toggler {
  z-index: 5;
  background-color: var(--bs-secondary);
  transition: none !important;
  top: -3.75rem;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-nav .dropdown .dropdown-menu {
  margin: 0
}

.navbar-brand,
.navbar-brand:hover {
  padding: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1.875rem;
  color: var(--bs-white);
}

.navbar-brand span {
  color: var(--bs-primary);
}

.navbar-brand img {
  width: auto;
  height: 2.625rem;
  transition: all 0.4s ease-in-out;
}

.navbar-expand-lg {
  padding: 0;
  flex-wrap: wrap;
}

.navbar-expand-lg .navbar-nav .nav-item {
  margin: 0 0.75rem 0 0.75rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.125rem 0.3125rem;
  margin-top: 0.1875rem;
  color: var(--bs-secondary);
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--bs-primary);
}

.navbar-expand-lg .navbar-nav {
  margin: auto;
  font-family: var(--bs-font-menu);
}

.navbar-nav .dropdown .dropdown-menu {
  border-radius: var(--border-radius);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav .dropdown .dropdown-menu .dropdown-item {
  font-size: 0.9375rem;
  margin: 0;
  width: 100%;
  padding: 0.625rem 1.125rem;
  color: #fff;
  transition: all .3s ease;
  border-bottom: solid 0.0625rem rgb(0, 0, 0, 0.2);
  background-color: #333;
  position: relative;
  text-decoration: none;
  font-weight: 600;
}

.navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--bs-primary);
}

.dropdown-toggle:after {
  transition: all .23s ease;
}

.dropdown-toggle:hover:after {
  transform: rotate(180deg);
  transition: all .5s ease;
}

.dropdown-menu-end {
  right: 0;
}

.navbar-expand-lg .navbar-nav .nav-item .client-area-link {
  color: var(--bs-secondary);
  border-style: solid;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  margin-top: 0;
  font-size: 0.9375rem;
  border: solid 0.0625rem var(--bs-secondary-rgb);
  box-shadow: none;
}


.navbar-toggler {
  background-color: var(--bs-primary);
  border-radius: var(--border-radius);
  padding: 0;
  transition: all 0.4s ease-in-out;
  margin-right: 0.9375rem;
  box-shadow: none !important;
}

.icon-container {
  position: relative;
  display: inline-block;
  z-index: 2;
  float: right;
  height: 2.0625rem;
  width: 2.3125rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.icon-container #menuicon {
  width: 1.25rem;
  height: 0.625rem;
  position: relative;
  display: block;
  margin: -0.25rem auto 0;
  top: 50%;
}

#menuicon .bar {
  width: 100%;
  height: 0.0625rem;
  display: block;
  position: relative;
  background: var(--bs-white);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#menuicon .bar.bar1 {
  -webkit-transform: translateY(0rem) rotate(0deg);
  transform: translateY(0rem) rotate(0deg);
}

#menuicon .bar.bar2 {
  -webkit-transform: translateY(0.375rem) rotate(0deg);
  transform: translateY(0.375rem) rotate(0deg);
}

.none-sc .icon-container {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.none-sc .icon-container #menuicon .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.1s;
}

.none-sc .icon-container #menuicon .bar.bar1 {
  -webkit-transform: translateY(0.25rem) rotate(45deg);
  transform: translateY(0.25rem) rotate(45deg);
  background-color: var(--bs-white);
}

.none-sc .icon-container #menuicon .bar.bar2 {
  -webkit-transform: translateY(0.1875rem) rotate(-45deg);
  transform: translateY(0.1875rem) rotate(-45deg);
  background-color: var(--bs-white);
}

.sc-down .top-h-section {
  margin-top: -6.875rem;
}

.sc-up .top-h-section {
  margin-top: 0;
  background-color: rgba(23, 22, 48, 0.85);
  height: 3.4375rem;
  padding: 0.3125rem 0;
}

.sc-up .navbar-brand img {
  height: 2.125rem;
}



footer {
  padding: 2.5rem 0 1.875rem;
  position: relative;
  box-shadow: none;
  color: var(--bs-white);
  background: var(--bs-secondary);
}

footer h4 {
  font-size: 1.125rem;
  text-align: left;
  margin: 0;
  font-weight: 600;
}

footer .subscribe p {
  margin: 0.9375rem 0;
  font-size: 0.875rem;
}

footer .subscribe .btn-primary {
  margin: 0.9375rem 0;
  padding: 0.625rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
}

footer .subscribe {
  padding-right: 1.25rem;
}

footer ul {
  padding: 0;
  margin: 0;
  padding-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}

footer li {
  list-style: none;
  line-height: 1;
  margin-bottom: 0.75rem;
}

footer li a {
  color: #d2d2d2;
  text-decoration: none;
  transition: all .3s ease;
  position: relative;
  font-family: var(--bs-font-menu);
  font-size: 0.875rem;
}

footer li a:after {
  content: '';
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  width: 0%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: 0.0625rem;
  -webkit-transition: .35s;
  transition: .35s;
  background-color: #fff;
}

footer li a:HOVER {
  color: #fff;
  text-decoration: none
}

footer li a:HOVER:after {
  width: 100%;
}

footer .copyright {
  padding: 1.25rem 0.625rem 0;
  font-size: 0.8125rem;
  opacity: 0.6;
  text-align: center;
}



footer .F-social {
  position: relative;
  padding-top: 1.5625rem;
}

footer .F-social a {
  display: inline-block;
  margin: 0 0.75rem 1.25rem 0rem;
  opacity: 0.8;
  background-color: var(--bs-white);
  opacity: 0.85;
  border-radius: var(--border-radius);
  opacity: 0.75;
  padding: 0.3125rem;
  border-radius: var(--border-radius);
  line-height: 1;
}

footer .F-social a:hover {
  opacity: 1;
}

footer .F-social a img {
  width: 1.375rem;
  height: 1.375rem;
}

.img-sec {
  margin-top: 1.5625rem;
  margin-bottom: 3.125rem;
}

.img-sec img {
  opacity: 0.65;
  transition: all .3s ease;
  filter: grayscale(1);
}

.img-sec img:hover {
  opacity: 1;
  transition: all .3s ease;
  filter: none;
}

.faq-sec {
  width: 100%;
  position: relative;
  padding: 1.875rem 0;
}

.faq-sec img {
  width: auto;
  height: auto;
}

.faq-sec p {
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

.faq-sec .accordion-item {
  border: none;
  background: transparent;
  margin-bottom: 1.25rem;
}

.faq-sec .accordion-button {
  font-size: 1.25rem;
  border-bottom: solid 0.0625rem #868686;
  outline: none !important;
  box-shadow: none !important;
  color: var(--bs-white);
  background-color: var(--bs-secondary);
  font-family: var(--bs-font-menu);
}

.faq-sec .accordion-body {
  padding: 0.9375rem 0;
  font-size: 0.875rem;
  color: var(--bs-secondary);
}

.faq-sec .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

h1 {
  font-weight: bold;
  margin-bottom: 0.9375rem;
}

.contentpage {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.lg-heading {
  position: relative;
  margin-bottom: 1.875rem;
  padding-bottom: 0.9375rem;
  text-align: center;
}

.lg-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 2.0625rem;
  height: 0.125rem;
  background-color: var(--bs-primary);
  margin: auto;
}

.pt-15 {
  padding-top: 0.9375rem !important;
}

.pt-30 {
  padding-top: 1.875rem !important;
}

.pb-30 {
  padding-bottom: 1.875rem !important;
}

.mb-15 {
  margin-bottom: 0.9375rem !important;
}

.btn-primary-submit {
  background-color: #fff;
  border: solid 0.0625rem var(--bs-secondary);
  color: var(--bs-secondary);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.9375rem;
}

.btn-primary-submit:focus,
.btn-primary-submit:hover {
  border: solid 0.0625rem var(--bs-primary);
}

.top-right {
  text-align: right;
  margin-right: 0;
  display: block;
  margin-left: auto;
}

.topheader .btn-connect2 {
  background-color: #333333;
  font-size: 0.875rem;
  padding: 0.625rem 1.875rem;
  color: #fff;
  margin-left: 0.625rem;
}

.topheader .top-link {
  font-size: 1rem;
  color: var(--bs-secondary);
  margin-right: 1.25rem;
  text-decoration: none;

}

.btn-social {
  color: var(--bs-white);
  padding: 0.4375rem;
  margin: 0 0 0 0.625rem;
  border-radius: 50%;
  color: var(--bs-secondary);
  background-color: #fff;
}

.btn-social:hover,
.btn-social:focus {
  background-color: var(--bs-secondary);
  color: var(--bs-white);
  border-radius: 50%;
}

.btn-social svg {
  margin-top: -0.125rem;
  width: 1.25rem;
  height: 1.25rem;
}

footer .f-logo {
  width: auto;
  height: 2.8125rem;
}

.contentpage2 {
  padding-top: 0rem;
  padding-bottom: 1.875rem;
  max-width: 53.125rem;
}

.contentpage2 h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1.875rem;
}

.card-img {
  border-radius: 1.25rem;
  border: solid 0.125rem var(--bs-secondary);
}

.set-width-logo {
  max-width: 56.25rem;
  margin: 6.25rem auto;
  display: block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.mongerels {
  max-width: 43.75rem;
  margin: 1.875rem auto;
  display: block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.card-gray {
  background-color: #333;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  margin-bottom: 1.875rem;
  color: #fff;
}

.card-gray h3 {
  font-size: 1.125rem;
}

.card-gray span {
  font-weight: bold;
  text-align: right;
  display: block;
  color: #3e9747;
  font-size: 1.125rem;
}

.card-gray img {
  border-radius: 0.625rem;
  margin-bottom: 0.9375rem;
}

.btn-Mongerels,
.btn-Mongerels:hover,
.btn-Mongerels:focus {
  background-color: #333;
  color: #fff;
  margin-bottom: 1.875rem;
  width: 100%;
}

.set-w-640 {
  margin-top: auto;
  margin-bottom: auto;
}

.saturn-nft {
  width: auto;
  height: 5.625rem;
  margin: auto;
  display: block;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}

@media (max-width:1024px) {
  .mongerels {
    max-width: 35rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.625rem 0.625rem;
    font-size: 0.875rem;
  }

  .navbar-expand-lg .navbar-nav .nav-item .join-discord-link,
  .navbar-expand-lg .navbar-nav .nav-item .client-area-link {
    margin-right: 0;
    padding: 0.625rem 1rem;
  }

  .top-h-border img {
    height: 6.875rem;
  }

  .top-h-border {
    padding: 1.25rem 0 0rem 0;
  }

  .heading h1 {
    font-size: 1.25rem;
    margin: 0;
  }

  .heading {
    padding: 0.625rem;
  }

  footer h4 {
    font-size: 1rem;
  }

  footer .copyright {
    font-size: 0.8125rem;
  }

  .col-2 {
    width: 25%;
  }

  .faq-sec h2 {
    font-size: 1.875rem;
  }

  .faq-sec .accordion-button {
    font-size: 1rem;
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {}

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
    -webkit-animation: dropdown-animation .2s;
    animation: dropdown-animation .2s;
  }

}

@media (max-width:800px) {
  .mongerels {
    max-width: 31.25rem;
  }

  .navbar-toggler {
    background-color: var(--bs-secondary);
    border-radius: var(--border-radius);
    padding: 0;
    transition: none !important;
    margin-right: 0.9375rem;
    box-shadow: none !important;
    position: absolute;
    top: 0;
    right: 0;
  }

  .navbar-nav .dropdown:hover>.dropdown-menu {
    animation: none;
  }

  .top-h-section {
    padding: 0.5rem 0;
  }

  .navbar-expand-lg .container {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    margin: 0;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  .navbar-collapse.show .navbar-nav .nav-item {
    opacity: 1;
    border-bottom: solid 0.0625rem rgba(194, 194, 194, 0.2);
  }

  #navbarNavDropdown .dropdown-menu {
    display: block !important;
  }

  #navbarNavDropdown .dropdown-menu {
    background-color: transparent !important;
    padding: 0;
  }

  #navbarNavDropdown .dropdown-menu .dropdown-item {
    background-color: transparent;
    color: #fff;
    border: none;
    padding-left: 1.875rem;
  }

  #navbarNavDropdown .dropdown-menu .dropdown-item:hover {
    color: var(--bs-primary);
  }

  #navbarNavDropdown .dropdown-toggle::after {
    display: none;
  }

  #navbarNavDropdown .nav-item {
    border: none;
  }

  #navbarNavDropdown .dropdown .dropdown-menu .dropdown-item::before {
    display: none;
  }

  .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    font-size: 1.125rem
  }

  .dropdown-menu[data-bs-popper] {
    padding-top: 0rem;
    padding-bottom: 0.625rem;
    backdrop-filter: blur(0rem);
  }

  .navbar-brand,
  .navbar-brand:hover {
    font-size: 1.625rem;
  }

  .navbar-brand {
    margin-left: 0.9375rem
  }

  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(0.25rem);
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    position: fixed;
    transition: all 0.4s ease-out, background 1s ease-out;
    top: 0;
    z-index: 2;
    margin: 0
  }

  .navbar-expand-lg .navbar-nav {
    padding: 3.75rem 0 1.875rem 0rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.625rem 0.9375rem;
    font-size: 1.25rem;
    color: var(--bs-white);
    border-bottom: solid 0.0625rem #4a4a4a;
  }

  .navbar-expand-lg .navbar-nav .nav-item .join-discord-link,
  .navbar-expand-lg .navbar-nav .nav-item .client-area-link {
    margin-bottom: 0.9375rem;
  }

  .dropdown-menu[data-bs-popper] {
    padding-top: 0rem;
    padding-bottom: 0.625rem;
    backdrop-filter: blur(0rem);
  }

  .navbar-expand-lg .navbar-nav .nav-item .join-discord-link,
  .navbar-expand-lg .navbar-nav .nav-item .client-area-link {
    padding: 0.625rem 1.5rem;
    font-size: 1rem;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav .nav-item .client-area-link {
    color: var(--bs-secondary) !important;
  }

  .navbar-nav {
    display: block;
  }

  .none-sc .logo {
    position: relative;
    z-index: 555;
  }

  .none-sc .logo img {
    filter: brightness(0) invert(1)
  }

  .topheader .top-link {
    font-size: 0.875rem;
  }
}

@media (max-width:767px) {
  .mongerels {
    max-width: 28.125rem;
  }

  .top-h-border img {
    height: 5.625rem;
  }

  .topheader {
    font-size: 0.8125rem;
  }

  .heading h1 {
    font-size: 1.125rem;
  }

  footer .copyright {
    text-align: left;
  }

  footer {
    padding: 1.875rem 0 1.25rem;
  }

  .topheader {
    padding: 0.3125rem 0;
  }

  .col-2 {
    width: 50%
  }

  .img-sec {
    margin-top: 0.625rem;
    margin-bottom: 1.5625rem;
  }

  .faq-sec h2 {
    margin-bottom: 0.9375rem;
  }

  .btn-primary-submit {
    font-size: 0.875rem;
    padding: 0.5rem 1.5625rem;
  }

  .topheader .top-link {
    margin-right: 0.9375rem;
  }

  .btn-social {
    margin: 0 0 0 0.3125rem;
  }

  .contentpage2 h2 {
    font-size: 1.125rem;
  }

  footer .f-logo {
    height: 2.25rem;
    display: block;
    margin: auto;
    margin-bottom: 0.625rem;
  }

  footer .text-end {
    text-align: center !important;
    font-size: 0.75rem;
  }
}

@media (max-width:480px) {
  .set-w-640 {
    flex: 0 0 100%;
    width: 100%;
    text-align: right;
  }

  .set-w-640 .btn-connect {
    display: table-cell;
    float: none;
  }

  .contentpage2 h2 {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }

  .topheader {
    line-height: normal;
  }

  .topheader .btn-connect,
  .topheader .btn-connect2 {
    font-size: 13px;
    padding: 0.375rem 0.9375rem;
  }

  .wrapper .logo img {
    margin-bottom: -1.375rem;
  }

  .top-h-border {
    padding: 0.9375rem 0;
  }

  .top-h-border img {
    height: 5rem;
  }

  .heading h1 {
    font-size: 1rem;
  }

  .heading h1 span {
    float: none;
    display: block;
    margin-top: 0.3125rem;
  }

  .faq-sec .accordion-button {
    font-size: 0.875rem;
    padding: 0.75rem 0.9375rem;
  }

  .lg-heading::after {
    width: 1.75rem;
  }

  .wrapper .logosm img {
    margin: auto;
    display: block;
    height: 2.625rem;
    margin-bottom: 0.625rem;
  }

  .top-right {
    text-align: center;
  }

  .card-img {
    border-radius: 0.75rem;
    border: solid 0.125rem var(--bs-secondary);
  }

  .set-margin480 {
    margin-top: 0.3125rem !important;
    margin-bottom: 0.3125rem !important;
    text-align: right !important;
  }

  .topheader {
    padding-bottom: 0.625rem;
  }
}

@media (max-width:425px) {


  .top-h-border img {
    height: 4.375rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1rem;
  }

  #navbarNavDropdown .dropdown-menu .dropdown-item {
    font-size: 0.875rem;
  }

  .contentpage {
    font-size: 0.875rem;
  }
}

@media (max-width:414px) {
  .set-margin480 {
    font-size: 0.75rem;
    padding-left: 0;
  }
}

@media (max-width:375px) {
  .topheader .top-link {
    margin-right: 2.1875rem;
    margin-bottom: 0.625rem;
    display: inline-block;
  }

  .wrapper .logo img {
    margin-bottom: -2.375rem;
  }

  .wrapper .logo img {
    margin-bottom: -2.5625rem;
    height: 2.625rem;
  }
 
}

@media (max-width:320px) {

  .set-margin480 {
    margin-top: 0.3125rem !important;
    margin-bottom: 0.3125rem !important;
    font-size: 0.6875rem;
  }

  .topheader .btn-connect,
  .topheader .btn-connect2 {
    padding: 0.3125rem 0.375rem;
  }

  .topheader .text-center {
    padding: 0;
    text-align: center !important;
    margin-left: -0.3125rem;
  }

  .wrapper .logo img {
    height: 1.875rem;
  }

  .heading h1 {
    font-size: 0.875rem;
  }
}