@import url("./_assets/css/bootstrap.min.css");
@import url("./_assets/css/style.css");

.margin-l {
  margin-left: 0.625rem;
}

.margin-r {
  margin-right: 0.625rem;
}

.margin-t {
  margin-top: 3rem !important;
}

.margin-t3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.margin-l5 {
  /* margin-left: 150px; */
}
